:root{
    
    --cc-primary: #E52926;
    --cc-primary-light: #EE7573;
    --cc-primary-dark: #970200;
    --cc-primary-disabled: #EED1D1;
    --cc-secondary: #F8F8F0;
    --cc-white: #FFFFFF;
    --cc-black: #000000;
    --jwe-black-light: #555555;
}

body {
    font-family: 'Silka', sans-serif;
}

button {
    font-family: 'Silka', sans-serif;
}

/***************************************************************************************************************************************/
/* code for the navigation bar shared by all pages */
/***************************************************************************************************************************************/

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    width: 98%;
    height: 60px;
    padding: 0 1%;
    transition: background-color 0.3s ease;
}

.nav-bar.scrolled {
    background-color: var(--cc-black);
}

.nav-logo {
    height: 48px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-family: 'Silka', sans-serif;
    font-size: larger;
    margin: 0 8px;
    font-weight: bold;
    transition: color 0.5s ease;
    color: var(--cc-secondary);
}

.nav-button:hover {
    cursor: pointer;
    color: var(--cc-black);
}

.nav-button-scrolled:hover {
    color: var(--cc-primary);
}


/***************************************************************************************************************************************/
/* code for the landing page */
/***************************************************************************************************************************************/

.lp-block1-wrapper, .lp-block2-wrapper, .lp-block3-wrapper, .lp-block4-wrapper, .lp-block5-wrapper {
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lp-block1-wrapper {
    background-color: var(--cc-primary);
}

.lp-block1-text-wrapper {
    width: 70%;
}

.lp-block1-text {
    font-size: 320%;
    color: var(--cc-secondary);
}

.lp-block1-button-wrapper {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lp-block1-cta-1, .lp-block1-cta-2 {
    height: 48px;
    width: 40%;
    color: var(--cc-secondary);
    font-size: large;
    background-color: transparent;
    border: 1px solid var(--cc-secondary);
    transition: background-color 1.5s ease;
}

.lp-block1-cta-1:hover, .lp-block1-cta-2:hover {
    cursor: pointer;
    background-color: var(--cc-primary-dark);
    border: var(--cc-primary-dark);
}

@keyframes lp-chevron-shake {
    0%, 100% {
        transform: translateY(0);
    }
    12% {
        transform: translateY(5px);
    }
    25% {
        transform: translateY(0px);
    }
    37% {
        transform: translateY(5px);
      }
    50% {
        transform: translateY(0px);
    }
  }

.lp-chevron-down-icon {
    animation: lp-chevron-shake 4s infinite;
    color: var(--cc-secondary);
    margin: 40px 0 32px 0;
}

.lp-chevron-down-icon:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: var(--cc-black);
}

.lp-block2-wrapper {
    background-color: var(--cc-primary);
}

.lp-block3-wrapper {
    background-color: var(--cc-secondary);
}

.lp-block4-wrapper {
    background-color: var(--cc-primary);
}

.lp-block5-wrapper {
    background-color: var(--cc-secondary);
}
