:root{
    
    --cc-primary: #E52926;
    --cc-primary-light: #EE7573;
    --cc-primary-dark: #970200;
    --cc-primary-disabled: #EED1D1;
    --cc-secondary: #F8F8F0;
    --cc-white: #FFFFFF;
    --cc-black: #000000;
    --jwe-black-light: #555555;
}
